<h1>This is my #about page</h1>
<!-- text link to home page --!>
<%= link_to 'Home',pages_about_path %><br>
<!-- image with link --!>

<%= link_to image_tag('stairs.jpg'), 'http://www.udemy.com' %>

<!-- image without link --!>
<%= image_tag 'stairs.jpg' %>