<div class="container">

<footer class="footer">

<small>

Copyright © <a href="enter in a link here">NRG_Rate</a>

by <a href="enter in a link here">Melbpurne Building Compliance</a>

</small>

<nav>

<ul>

<li><%= link_to "About", pages_about_path %></li>

</ul>

</nav>

</footer>

</div>